# This file is managed by ansible. It belongs to {{ role_path }}.
# See https://github.com/karrot-dev/yuca to change.
server {

    server_name {{ livekit__turn_server_name }};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate /var/www/{{ site }}/cert/fullchain.pem;
    ssl_certificate_key /var/www/{{ site }}/cert/key.pem;

    access_log /var/www/{{ site }}/log/access.log;
    error_log /var/www/{{ site }}/log/error.log;

    location / {
        proxy_pass http://localhost:{{ livekit__turn_tls_port }};
        proxy_http_version 1.1;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }
}
