# This file is managed by ansible.
# See https://github.com/yunity/yuca to change.
map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    server_name {{ server_name }};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    ssl_certificate /var/www/{{ site }}/cert/fullchain.pem;
    ssl_certificate_key /var/www/{{ site }}/cert/key.pem;

    root /var/www/{{ site }}/www;

    index index.html;

    access_log /var/www/{{ site }}/log/access.log;
    error_log /var/www/{{ site }}/log/error.log;

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location / {
        return 302 {{ karrot_chat__url }};
    }
}
