[Unit]
Description={{ rocketchat__service_description }}
After=network.target remote-fs.target nss-lookup.target nginx.target mongod.target

[Service]
ExecStart=/usr/bin/node {{ rocketchat__root }}/bundle/main.js
User={{ rocketchat__user }}
Group={{ rocketchat__group }}
Environment=MONGO_URL=mongodb://localhost:27017/{{ rocketchat__database_name }}?replicaSet={{ rocketchat__replicaset_name }}
Environment=MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet={{ rocketchat__replicaset_name }}
Environment=ROOT_URL={{ rocketchat__root_url }}
Environment=PORT={{ rocketchat__port }}
Restart=always

[Install]
WantedBy=multi-user.target
