#!/bin/bash
set -euo pipefail
export RESTIC_REPOSITORY={{ restic_repo }}
export RESTIC_PASSWORD_FILE=/root/backup/password-file-{{ name }}
export B2_ACCOUNT_ID={{ restic_b2_account_id }}
export B2_ACCOUNT_KEY={{ restic_b2_account_key }}

cd /root/backup

# postgresql
for databaseName in {{ postgres_databases | join(' ') }}; do
  sudo -u postgres pg_dump -U postgres -F p $databaseName  \
    | bzip2 -c \
    | ./restic backup \
      --verbose \
      --stdin \
      --stdin-filename $databaseName.sql.bz2 \
      --tag {{ name }}
done 

# folders
for folder in {{ folders | join(' ') }}; do
  ./restic backup \
    --verbose $folder \
    -e "*.git" \
    -e cache \
    -e _cacache \
    --tag {{ name }}
done

./restic cache --cleanup