#!/usr/bin/env bash
set -e
set -o pipefail

filename={{ site }}-$(date -I).db.enc

# dump database and encrypt
pg_dump -Fc {{ postgres_database }} | openssl enc -e -aes-256-cbc -kfile /var/www/{{ site }}/backup.key -out $filename
echo dumped into $filename

# copy to offsite
rsync -avz $filename {{ backup_user }}@{{ backup_host }}:{{ backup_path }} && \
echo copied to offsite location

