#!/usr/bin/env bash
set -e
set -o pipefail

filename={{ site }}-$(date -I).db

# dump database
pg_dump -Fc {{ postgresql_database }} > $filename && \
echo dumped into $filename && \

# copy to offsite
rsync -avz $filename {{ offsite_server }} && \
echo copied to offsite location
