#!/usr/bin/env bash
set -e
set -o pipefail

filename={{ site }}-$(date -I).db.enc

# dump database and encrypt
pg_dump -Fc {{ postgresql_database }} | gpg --batch --no-tty --quiet -e -r {{ gpg_id }} > $filename && \
echo dumped into $filename && \

# copy to offsite
rsync -avz $filename {{ offsite_server }} && \
echo copied to offsite location
