# This file is managed by ansible. It belongs to {{ role_path }}.
# See https://github.com/yunity/yuca to change.

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ postgresql_database }}',
        'USER': '{{ postgresql_user }}',
        'PASSWORD': '{{ postgresql_password }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

DEBUG = False
ALLOWED_HOSTS = [
    '{{ server_name }}'
    {% if additional_allowed_hosts is defined %}
    ,{% for entry in additional_allowed_hosts %}
    '{{ entry }}'{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endif %}
]

{% if csrf_trusted_origins is defined %}
CSRF_TRUSTED_ORIGINS = [
    {% for entry in csrf_trusted_origins %}
    '{{ entry }}'{% if not loop.last %},{% endif %}
    {% endfor %}
]
{% endif %}

HOSTNAME = 'https://{{ server_name }}'
STATIC_ROOT = '/var/www/{{ site }}/www/static/'
SITE_NAME = '{{ site_name }}'
MEDIA_ROOT = '/var/www/{{ site }}/www/{{ uploads_directory }}/'
MEDIA_URL = '/media/'

FILE_UPLOAD_PERMISSIONS = 0o640
FILE_UPLOAD_DIRECTORY_PERMISSIONS = 0o750

DEFAULT_FROM_EMAIL = '{{ from_email_address }}'
{% if influxdb_database is not defined %}
INFLUXDB_DISABLED = True
{% else %}
INFLUXDB_DISABLED = False
{% endif %}
INFLUXDB_HOST = '127.0.0.1'
INFLUXDB_PORT = '8086'
INFLUXDB_USER = ''
INFLUXDB_PASSWORD = ''

INFLUXDB_DATABASE = '{{ influxdb_database|default('') }}'
INFLUXDB_TAGS_HOST = 'yuca'
INFLUXDB_TIMEOUT = 5
INFLUXDB_USE_CELERY = False
INFLUXDB_USE_THREADING = True

import os

{% if raven_dsn is defined %}
import raven
RAVEN_CONFIG = {
    'dsn': '{{ raven_dsn }}',
    'release': raven.fetch_git_sha(os.path.dirname(os.pardir)),
}
{% endif %}

SECRET_KEY = '{{ secret_key }}'

EMAIL_BACKEND = 'anymail.backends.postal.EmailBackend'
ANYMAIL = {
    'POSTAL_API_URL': '{{ postal_api_url }}',
    'POSTAL_API_KEY': '{{ postal_api_key }}',
    'POSTAL_WEBHOOK_KEY': '{{ postal_webhook_public_key }}',
}

SPARKPOST_RELAY_DOMAIN = '{{ sparkpost_relay_domain }}'

FCM_SERVER_KEY = '{{ fcm_server_key }}'

REDIS_HOST = os.environ.get('REDIS_HOST', 'localhost')

CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://{}:6379/{{ redis_db }}".format(REDIS_HOST),
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
        }
    }
}

CHANNEL_LAYERS = {
    "default": {
         "BACKEND": "channels_redis.core.RedisChannelLayer",
         "CONFIG": {
             "hosts": ["redis://{}:6379/{{ redis_db }}".format(REDIS_HOST)],
         },
    },
}

import redis
pool = redis.ConnectionPool.from_url("redis://{}:6379/{{ redis_db }}".format(REDIS_HOST))

HUEY = {
    "immediate": False,
    "connection": {
        "connection_pool": pool,
    },
    "consumer": {
        "workers": 8,
        "worker_type" : "thread",
    },
}

EMAIL_REPLY_TRIMMER_URL = 'http://localhost:4567/trim'

{% if admin_chat_webhook is defined %}
ADMIN_CHAT_WEBHOOK = '{{ admin_chat_webhook }}'
{% endif %}


LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s '
                      '%(process)d %(thread)d %(message)s'
        },
    },
    'handlers': {
        'sentry': {
            'level': 'WARNING',
            'class': 'raven.contrib.django.raven_compat.handlers.SentryHandler',
        },
        'console': {
            'level': 'WARNING',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        }

    },
    'loggers': {
        'raven': {
            'level': 'WARNING',
            'handlers': ['console'],
            'propagate': False,
        },
        'sentry.errors': {
            'level': 'WARNING',
            'handlers': ['console'],
            'propagate': False,
        },
        'django': { # Disable django admin email logging by overriding
            'level': 'ERROR',
            'handlers': ['sentry'],
        },
    },
    'root': { # log everything unconfigured as error
        'level': 'ERROR',
        'handlers': ['sentry'],
    },
}


GEOIP_PATH = '/var/lib/GeoIP'