# This file is managed by ansible. It belongs to {{ role_path }}.
# See https://github.com/yunity/yuca to change.
[Unit]
Description={{ site }} | django workers

{% for n in range(workers) %}
Wants={{ site }}-worker@{{ n+1 }}.service
{% endfor %}

[Install]
WantedBy=multi-user.target
