# This file is managed by ansible. It belongs to {{ role_path }}.
# See https://github.com/karrot-dev/yuca to change.
[Unit]
Description={{ site }} | daphne %i
After=network.target
PartOf={{ site }}.target

[Service]
Type=simple
User={{ site }}
Group={{ site }}
Environment=PYTHONUNBUFFERED=true
Environment=LISTEN_ENDPOINT=systemd:domain=UNIX:index=0
EnvironmentFile=/var/www/{{ site }}/www/backend/.env
WorkingDirectory=/var/www/{{ site }}/www/backend
Sockets={{ site }}.socket
ExecStart=/var/www/{{ site }}/www/backend/karrot-backend.pyz server

NonBlocking=true
Restart=always

[Install]
WantedBy=multi-user.target
