# This file is managed by ansible. It belongs to {{ role_path }}.
# See https://github.com/yunity/yuca to change.
[Unit]
Description={{ site }} | daphne
After=network.target

[Service]
Type=simple
User={{ site }}
Group={{ site }}
WorkingDirectory=/var/www/{{ site }}/www
ExecStart=/var/www/{{ site }}/www/env/bin/daphne \
	-u /tmp/{{ site }}.sock \
	--root-path=/var/www/{{ site }}/www \
	--ws-protocol karrot.token \
	--proxy-headers \
	config.asgi:channel_layer
Restart=always

[Install]
WantedBy=multi-user.target
